@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
*/

html
{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
}

#content-wrapper
{
    margin: 75px 25px;
}

#content-wrapper > div
{
    display: flex;
    flex-direction: column;
}

h2
{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin: 0 0 0 30px;
    font-size: 4rem;
    color: hsl(0, 0%, 95%);
}

p
{
    margin: 30px;
    line-height: 2rem;
    font-size: 1.5rem;
}

.item
{
    padding: 15px;
}

#item-1
{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

#item-2
{
    background-color: hsl(184, 100%, 22%);
}

#item-3
{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

img 
{
    max-width: 50px;
    margin: 30px;
}

button
{
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    width: 50%;
    margin: 0 0 40px 30px;
}

#button-1
{
    color:hsl(31, 77%, 52%);
}

#button-1:hover
{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

#button-2
{
    color:hsl(184, 100%, 22%);
}

#button-2:hover
{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

#button-3
{
    color: hsl(179, 100%, 13%);
}

#button-3:hover
{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

@media (min-width: 768px)
{
    #content-wrapper
    {
        display: flex;
        margin: 25px 15%;
    }

    #item-1
    {
        border-radius: 10px 0 0 10px;
    }

    #item-3
    {
        border-radius: 0 10px 10px 0;
    }

    h2
    {
        font-size: 5rem;
    }

    img 
    {
        max-width: 80px;
    }
}